{% load static %}

<html>

    <head>

        <title> Simply | Dashboard </title>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css"/>

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

    </head>

    <br>

    <div class="container bg-white shadow-md p-5" style="width:500px;">

        <h2> Dashboard </h2>

        <br>

        <p> Hi {{user}}! </p>
   

        <a href="{% url 'user-logout' %}"> Logout </a>

    </div>

    <br>


</html>



